.slideleft-enter {
  animation: slideleft-in .3s;
}

.slideleft-leave {
  animation: slideleft-out .3s;
}

@keyframes slideleft-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideleft-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
